
.container{
    /* border: 1px solid black;  */
    width: 95%;
    height: 71vh;
    display: flex;
    text-align: center;
    margin-top: 2%;
}

.quotes{
    width: 800px;
    height: 350px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: rgba(0, 47, 255, 0.925);
    background-color: rgb(26, 208, 221);
    border: 10px solid rgb(10, 38, 90);
}

.quotes p, .quotes h3{
    font-size: 1.5rem;
}

@media(max-width:480px){
    .quotes p,
        .quotes h3 {
            font-size: 1rem;
        }
}